.blog {
  height: auto;
  box-shadow: 0px -5px 8px black, 0px 5px 8px black;
  background: linear-gradient(
    to right,
    $bgDark 0%,
    $bgDark 50%,
    $bgLight 50%,
    $bgLight 100%
  );
  .container {
    @include flex(row, flex-start, flex-start);
    div {
      flex: 0 0 75%;
      background-color: $bgDark;
      // box-shadow: 50px 0px 5px black;
      position: relative;
      overflow: hidden;
      height: 100%;
      // outline: 20px solid yellow;
      // border: 1px solid white;
      &::after {
        content: "posts";
        position: absolute;
        font-size: 8rem;
        font-weight: 700;
        bottom: -40px;
        right: -18px;
        color: $bgLight;
      }
      article {
        // padding: 0 20px;
        margin: 50px 50px 20px 0px;
        // border-left: 1px solid $yellow;
        // border-right: 1px solid $yellow;
        h5 {
          font-size: 2.5rem;
        }
        p:first-of-type {
          margin: 20px 0;
          // text-decoration: underline;
          border-bottom: 2px solid $yellow;
          display: inline-block;
        }
        button {
          @include btn;
          margin-bottom: 50px;
        }
      }
    }
    aside {
      flex: 0 0 25%;
      // border: 1px solid white;
      background-color: $bgLight;
      height: 100%;
      align-self: flex-start;
      font-weight: 200;
      font-size: 2rem;
      padding: 50px;
      font-style: italic;
      ul {
        li {
          font-size: 1.1rem;
          font-style: normal;
          margin-bottom: 15px;
        }
      }
    }
  }
}
