.projects {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  .container {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "other other"
      "main info";
    grid-template-columns: 70% 1fr;
    @media (max-width: 1080px) {
      grid-template-columns: 100%;
      gap: 0;
    }
    .mainImg {
      grid-area: main;
      height: auto;
    }
    .infoImg {
      grid-area: info;
      padding: 20px;
      overflow: hidden;
      height: auto;
      background-color: $clr-bg-dark;
      color: $clr-bg-light;
      position: relative;
      .infoBg {
        font-size: 8rem;
        color: $clr-bg-light;
        font-weight: 700;
        position: absolute;
        top: -55px;
        right: -10px;
      }
      .textBox {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
          "."
          "text1"
          "text2";
        grid-template-rows: 0.5fr 1fr 1fr;
        h6 {
          font-size: 1.2rem;
          border-bottom: 1px solid $clr-primary;
          font-weight: 300;
        }
        p {
          font-style: italic;
          font-size: 1.5rem;
          color: $clr-text;
        }
        .text1 {
          grid-area: text1;
          align-self: center;
        }
        .text2 {
          grid-area: text2;
        }
      }
      @media (max-width: 1080px) {
        display: none;
      }
    }
    .otherImg {
      grid-area: other;
      overflow: hidden;
      // height: 25vh;
      @include flex(row, space-between, center);
      flex-wrap: nowrap;
      position: relative;
      .desno {
        position: absolute;
        font-size: 2.5rem;
        color: $clr-primary;
        height: auto;
        width: 60px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: $clr-bg-dark;
        cursor: pointer;
        &:hover {
          font-size: 2rem;
        }
      }
      .levo {
        position: absolute;
        font-size: 2.5rem;
        color: $clr-primary;
        height: auto;
        width: 60px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $clr-bg-dark;
        &:hover {
          font-size: 2rem;
          cursor: pointer;
        }
      }
      .images {
        position: relative;
        flex: 0 0 30%;
        transition: transform 1.5s ease;
        img {
          filter: grayscale(96%);
        }
        &.pro {
          &::after {
            content: "pro";
            font-size: 1.5rem;
            color: $clr-bg-dark;
            position: absolute;
            top: -5px;
            right: 20%;
            height: 50px;
            width: auto;
            background: $clr-primary;
            box-shadow: 2px 2px 1px $clr-bg-dark;
          }
        }
      }
    }
  }
}
