.projects {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  .container {
    display: grid;
    gap: 20px;
    grid-template-areas:
      "other other"
      "main info";
    grid-template-columns: 70% 1fr;
    .mainImg {
      grid-area: main;
      height: auto;
    }
    .infoImg {
      grid-area: info;
      padding: 20px;
      overflow: hidden;
      height: auto;
      background-color: $bgDark;
      color: $bgLight;
      // box-shadow: 10px -10px 0 $neonYellow;
      position: relative;
      .infoBg {
        font-size: 8rem;
        // color: $neonYellow;
        color: $bgLight;
        font-weight: 700;
        position: absolute;
        top: -55px;
        right: -10px;
        // z-index: 3;
      }
      .textBox {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-areas:
          "."
          "text1"
          "text2";
        grid-template-rows: 0.5fr 1fr 1fr;
        // justify-content: fle;
        // align-content: flex-end;
        h6 {
          // flex: 0 0 50%;
          font-size: 1.2rem;
          // text-decoration: underline;
          border-bottom: 1px solid $yellow;
          font-weight: 300;
        }
        p {
          // flex: 0 0 50%;
          font-style: italic;
          font-size: 1.5rem;
          color: $textClr;
        }
        .text1 {
          grid-area: text1;
          align-self: center;
        }
        .text2 {
          grid-area: text2;
          // align-content: top;
        }
      }
    }
    .otherImg {
      grid-area: other;
      overflow: hidden;
      height: 25vh;
      @include flex(row, space-between, center);
      flex-wrap: nowrap;
      position: relative;
      .desno {
        position: absolute;
        font-size: 2.5rem;
        color: $yellow;
        height: auto;
        width: 60px;
        right: 0;
        background: rgba(34, 34, 34, 0.87);
        cursor: pointer;
        &:hover {
          font-size: 2rem;
        }
      }
      .levo {
        position: absolute;
        font-size: 2.5rem;
        color: $yellow;
        height: auto;
        width: 60px;
        left: 0;
        background: rgba(34, 34, 34, 0.87);
        &:hover {
          font-size: 2rem;
          cursor: pointer;
        }
      }
      .images {
        // display: block;
        // height: 100%;
        position: relative;
        flex: 0 0 30%;
        transition: transform 1.5s ease;
        img {
          filter: grayscale(96%);
        }
        &.pro {
          &::after {
            content: "pro";
            font-size: 1.5rem;
            color: $bgDark;
            position: absolute;
            top: -5px;
            right: 20%;
            height: 50px;
            width: auto;
            background: $yellow;
            box-shadow: 2px 2px 1px $bgDark;
            // z-index: 2;
            // filter: grayscale(-100%);f
          }
        }
      }
    }
  }
}