@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #fff;
}

a {
  text-decoration: none;
  color: #ffff00;
  position: relative;
  z-index: 33;
}

a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2.5px;
  background: #00ff00;
  width: 100%;
  cursor: pointer;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: 250ms ease-in;
  transition: 250ms ease-in;
}

a:hover {
  opacity: 0.8;
}

a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: calc(min(85%, 1140px));
  margin: auto;
}

section {
  padding: 80px 0;
}

h2 {
  text-align: center;
  font-size: clamp(2rem, calc(1.5vw + 1rem), 5rem);
  color: #ffff00;
  text-shadow: -4px -4px 1px black;
}

h3 {
  font-size: 2rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
  text-shadow: -1px -1px 2px black;
  text-transform: uppercase;
  margin-bottom: 30px;
  z-index: 1;
}

h3::after {
  content: "";
  position: absolute;
  top: 35px;
  left: -25px;
  width: 80px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 2px solid #00ff66;
  -webkit-box-shadow: 0 0 8px #00ff00;
          box-shadow: 0 0 8px #00ff00;
  z-index: -1;
}

h3::before {
  content: "";
  position: absolute;
  top: 30px;
  left: -25px;
  width: 60px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 2px solid #00ff66;
  -webkit-box-shadow: 0 0 8px #00ff00;
          box-shadow: 0 0 8px #00ff00;
  z-index: -1;
}

p {
  font-size: 0.9rem;
}

/*************** nav ***************/
nav {
  background-color: rgba(34, 34, 34, 0.89);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  position: fixed;
  z-index: 99;
  width: 100%;
  padding: 0.5em 0;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .container .logo {
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: 0 0 5px #e6fb04;
}

nav .container .logo span {
  color: #00ff00;
  font-weight: 400;
  text-shadow: none;
}

nav .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav .container ul li {
  margin-left: 25px;
}

nav .container ul li a {
  font-size: 1.2rem;
}

/*************** header ***************/
header, .blogHeader {
  overflow: hidden;
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header h1, .blogHeader h1 {
  text-transform: uppercase;
  font-size: clamp(3rem, calc(5vw + 5rem), 10rem);
  line-height: 85%;
  color: rgba(77, 76, 76, 0.75);
}

header h1 span, .blogHeader h1 span {
  background: rgba(77, 76, 76, 0.5);
  color: #fff;
  text-shadow: -6px -6px 1px #222;
}

header #scroll, .blogHeader #scroll {
  -webkit-transform: translateY(-20vh);
          transform: translateY(-20vh);
}

header .line1, .blogHeader .line1 {
  position: absolute;
  bottom: -50px;
  height: 100%;
  width: 100%;
  border: 2px solid #ffff00;
  -webkit-box-shadow: 0 0 6px #e6fb04;
          box-shadow: 0 0 6px #e6fb04;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
}

header .line2, .blogHeader .line2 {
  position: absolute;
  bottom: -50px;
  height: 100%;
  width: 100%;
  border: 2px solid #00ff00;
  -webkit-box-shadow: 0 0 6px #00ff66;
          box-shadow: 0 0 6px #00ff66;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: -1;
}

/*************** tech ***************/
.tech {
  background: #4d4c4c;
  -webkit-box-shadow: 0px -5px 8px black, 0px 5px 8px black;
          box-shadow: 0px -5px 8px black, 0px 5px 8px black;
}

.tech .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tech .container article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 10px;
}

.tech .container article div {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 1em;
  text-align: center;
  font-weight: 300;
}

.tech .container article div i {
  color: #ffff00;
  text-shadow: -4px -4px 5px #222;
}

.tech .container .tech-title {
  margin: auto;
  text-align: center;
}

/*************** info ***************/
.info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
  text-align: justify;
}

.info .container article {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 49%;
          flex: 1 1 49%;
}

.info .container article h4 {
  font-size: 1.5rem;
  color: #ffff00;
  margin-bottom: 10px;
  text-transform: none;
  font-weight: 700;
  letter-spacing: 3px;
}

.info .container .why {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 15px;
  place-items: center;
  background: #e6fb04;
  padding: 1.5em;
  color: #222;
}

.info .container .why h4 {
  color: #222;
  font-size: 2.5rem;
  line-height: 0.8;
}

.info .container .line {
  background: #4d4c4c;
}

.info .container .line .big-text {
  text-align: center;
  padding: 1em 0;
  color: #ffff00;
  text-shadow: 4px 4px 1px #222;
  font-size: 4rem;
  line-height: 0.8;
  text-transform: uppercase;
}

/*************** services ***************/
.services {
  text-align: center;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.services .container .card {
  background-color: #4d4c4c;
  height: 40vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

.services .container .card.active {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  border-radius: 0 10px 10px 0;
}

.services .container .card.active h5 {
  opacity: 1;
  font-weight: 300;
  font-size: 1.5rem;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
  margin: 25px 0;
}

.services .container .card.active p {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.4s;
  transition: opacity 0.3s ease-in 0.4s;
  padding: 0 40px;
  text-align: justify;
}

.services .container .card.active i {
  color: #00ff00;
  text-shadow: -3px -3px 2px black;
  -webkit-transition: all 0.3s ease-in 0.4s;
  transition: all 0.3s ease-in 0.4s;
}

.services .container .card h5 {
  opacity: 0;
}

.services .container .card p {
  opacity: 0;
}

.services .container .card i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffff00;
}

/*************** priceing ***************/
.pricing {
  overflow: hidden;
}

.pricing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
  text-align: center;
}

.pricing .container article:first-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(min(100%, 200px));
          flex: 1 1 calc(min(100%, 200px));
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricing .container article:first-child button {
  padding: 0.5em 1em;
  background-color: #e6fb04;
  -webkit-box-shadow: 4px 4px 10px #ffff00;
          box-shadow: 4px 4px 10px #ffff00;
  border: none;
  margin-top: 1em;
  font-size: 1rem;
  cursor: pointer;
}

.pricing .container article:first-child button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pricing .container article:last-child {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  gap: 15px;
}

.pricing .container article:last-child .price-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  min-width: 190px;
  background-color: #4d4c4c;
  padding: 1em;
}

.pricing .container article:last-child .price-card h5 {
  font-size: 1.5rem;
}

.pricing .container article:last-child .price-card .cena {
  font-size: 2.8rem;
  font-weight: 700;
}

.pricing .container article:last-child .price-card .cena sup {
  font-weight: 300;
}

.pricing .container article:last-child .price-card:nth-child(even) {
  background-color: #ffff00;
  color: #222;
}

.projects {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.projects .container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
      grid-template-areas: "other other" "main info";
  -ms-grid-columns: 70% 1fr;
      grid-template-columns: 70% 1fr;
}

@media (max-width: 1080px) {
  .projects .container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    gap: 0;
  }
}

.projects .container .mainImg {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  height: auto;
}

.projects .container .infoImg {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: info;
  padding: 20px;
  overflow: hidden;
  height: auto;
  background-color: #222;
  color: #4d4c4c;
  position: relative;
}

.projects .container .infoImg .infoBg {
  font-size: 8rem;
  color: #4d4c4c;
  font-weight: 700;
  position: absolute;
  top: -55px;
  right: -10px;
}

.projects .container .infoImg .textBox {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "." "text1" "text2";
  -ms-grid-rows: 0.5fr 1fr 1fr;
      grid-template-rows: 0.5fr 1fr 1fr;
}

.projects .container .infoImg .textBox h6 {
  font-size: 1.2rem;
  border-bottom: 1px solid #ffff00;
  font-weight: 300;
}

.projects .container .infoImg .textBox p {
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;
}

.projects .container .infoImg .textBox .text1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: text1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.projects .container .infoImg .textBox .text2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: text2;
}

@media (max-width: 1080px) {
  .projects .container .infoImg {
    display: none;
  }
}

.projects .container .otherImg {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: other;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
}

.projects .container .otherImg .desno {
  position: absolute;
  font-size: 2.5rem;
  color: #ffff00;
  height: auto;
  width: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  background: #222;
  cursor: pointer;
}

.projects .container .otherImg .desno:hover {
  font-size: 2rem;
}

.projects .container .otherImg .levo {
  position: absolute;
  font-size: 2.5rem;
  color: #ffff00;
  height: auto;
  width: 60px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #222;
}

.projects .container .otherImg .levo:hover {
  font-size: 2rem;
  cursor: pointer;
}

.projects .container .otherImg .images {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

.projects .container .otherImg .images img {
  -webkit-filter: grayscale(96%);
          filter: grayscale(96%);
}

.projects .container .otherImg .images.pro::after {
  content: "pro";
  font-size: 1.5rem;
  color: #222;
  position: absolute;
  top: -5px;
  right: 20%;
  height: 50px;
  width: auto;
  background: #ffff00;
  -webkit-box-shadow: 2px 2px 1px #222;
          box-shadow: 2px 2px 1px #222;
}

/*************** footer ***************/
footer {
  padding: 80px 0;
}

footer hr {
  border: 1px solid #00ff66;
  -webkit-box-shadow: 0 0 5px #00ff00;
          box-shadow: 0 0 5px #00ff00;
  margin-bottom: 80px;
  margin-top: 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

footer .container div {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  height: 100%;
  margin: 0 10px;
  text-align: center;
  line-height: 1.5;
}

footer .container div h5 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

footer .container div p {
  text-align: justify;
}

footer .container div p i {
  margin-right: 10px;
}

footer .container div .icons {
  font-size: 2.5rem;
  padding: 20px;
}

.blogHeader {
  height: 50vh;
}

.about {
  text-align: center;
  height: auto;
  -webkit-box-shadow: 0px -8px 8px black;
          box-shadow: 0px -8px 8px black;
}

.about .container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "lend wp wp" "wpc shop hour" "html shop hour" "ask .  .";
  -ms-grid-columns: 50% 1fr 1fr;
      grid-template-columns: 50% 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 25px;
}

.about .container h5 {
  font-size: 1.5rem;
}

.about .container p {
  text-align: justify;
}

.about .container .lend {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: lend;
}

.about .container .wp {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: wp;
}

.about .container .wpc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: wpc;
}

.about .container .html {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: html;
}

.about .container .shop {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: shop;
}

.about .container .hour {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: hour;
}

.about .container .ask {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: ask;
}

.about .container .ask p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 200;
  color: #00ff66;
}

.about .container .ask button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  padding: 0.5em 1em;
  background-color: #e6fb04;
  -webkit-box-shadow: 4px 4px 10px #ffff00;
          box-shadow: 4px 4px 10px #ffff00;
  border: none;
  margin-top: 1em;
  font-size: 1rem;
  cursor: pointer;
}

.about .container .ask button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog {
  padding: 0;
  -webkit-box-shadow: 0px -5px 8px black, 0px 5px 8px black;
          box-shadow: 0px -5px 8px black, 0px 5px 8px black;
  background: -webkit-gradient(linear, left top, right top, from(#222), color-stop(50%, #222), color-stop(50%, #4d4c4c), to(#4d4c4c));
  background: linear-gradient(to right, #222 0%, #222 50%, #4d4c4c 50%, #4d4c4c 100%);
}

.blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.blog .container div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 70%;
          flex: 1 1 70%;
  background-color: #222;
  position: relative;
  overflow: hidden;
  height: 100%;
}

.blog .container div::after {
  content: "posts";
  position: absolute;
  font-size: 8rem;
  font-weight: 700;
  bottom: -40px;
  right: -18px;
  color: #4d4c4c;
}

.blog .container div article {
  margin: 1em 5em 0.7em 0;
}

.blog .container div article h5 {
  font-size: 2rem;
}

.blog .container div article p:first-of-type {
  margin: 1em 0;
  border-bottom: 2px solid #ffff00;
  display: inline-block;
}

.blog .container div article button {
  padding: 0.5em 1em;
  background-color: #e6fb04;
  -webkit-box-shadow: 4px 4px 10px #ffff00;
          box-shadow: 4px 4px 10px #ffff00;
  border: none;
  margin-top: 1em;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 50px;
}

.blog .container div article button:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.blog .container aside {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  background: #4d4c4c;
  font-weight: 200;
  font-size: 2rem;
  padding: 1em;
  font-style: italic;
}

.blog .container aside ul li {
  font-size: 1rem;
  font-style: normal;
  margin-top: 1.5em;
}
/*# sourceMappingURL=main.css.map */